<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} - marvin</title>
    {% endblock %}
</head>
<body>
    <div id="main">
        <div id="cssmenu">
            <ul>
                <li{% if self.title() == "Upload" %} class='active'{% endif %}><a href='/'><span>Upload</span></a></li>
                <li{% if self.title() == "About" %} class='active'{% endif %}><a href='/about'><span>About</span></a></li>
                <li{% if self.title() == "FAQ" %} class='active'{% endif %}><a href='/faq'><span>FAQ</span></a></li>
                <li class='last{% if self.title() == "Contact" %} active{% endif %}'><a href='/contact'><span>Contact</span></a></li>
            </ul>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            this is a popey and sil thing.
            {% endblock %}
        </div>
    </div>
</body>
</html>