{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<h1>FAQ</h1>

<dl>
    <dt>Who developed this service?</dt>
    <dd><a href="http://popey.com/">Alan Pope</a> and <a href="http://kryogenix.org/">Stuart Langridge</a> with some help from <a href="http://www.danielseanmcguire.co.uk/">Daniel McGuire</a>.</dd>
    <dt>What happens with a click package I upload?</dt>
    <dd>The click package is added to a queue to be processed. A bot will pick up the click and install it on a device of your choosing. The application is run and screenshots are taken. The screenshots and log files are emailed to you soon after.
    </dd>
    <dt>How long does it take to run the app</dt>
    <dd>Under best-case scenario a few minutes for the app to install, run and the email to arrive. If there's a long queue then you may have to wait a while.
    </dd>
    <dt>What devices can apps be tested on?</dt>
    <dd>Currently the LG Nexus 4 and Asus Nexus 7 (2013) devices are supported. More devices will be made available shortly.
    </dd>
    <dt>What limits are there?</dt>
    <dd>Currently applications uploaded will have the following restrictions:-
      <li>Apps must pass the same click review tools as used in the Ubuntu App Store</li>
      <li>Devices have no gps, wifi or cellular access. We're evaluating how to provide this and may do in the future.</li>
      <li>Webapps are rejected as they will require network access, which isn't available</li>
      <li>Scopes are allowed, but their functionality may be limited given the lack of network access</li>
    </dd>
    <dt>Why is it called Marvin?</dt>
    <dd>Because <a href="https://en.wikipedia.org/wiki/Marvin_(character)">Marvin</a>.<br><iframe width="420" height="315" src="https://www.youtube.com/embed/q4P3pvKmbsg" frameborder="0" allowfullscreen></iframe></dd>
</dl>

{% endblock %}
