{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">
    .important { color: #336699; }
    h1 { font-size: 180%; margin: 1.5em 0; }
</style>
{% endblock %}
{% block content %}
<h1>Test Ubuntu click packages on devices you don't have.<br>Upload your app below.</h1>
<form action="upload" method="POST" enctype="multipart/form-data">
    <p><input type="file" name="click"></p>
    <p><label>Email: <input type="email" name="email"></label></p>
    <p>Devices to test on:</p>
    <ul>
        {% if is_paused %}
            <li>...no test devices are currently online. Please try again later...</li>
        {% else %}
            {% for device in devices %}
                <li><label><input type="checkbox" name="device_{{ device.code|e }}"> {{ device.printable|e }}</label></li>
            {% endfor %}
            {% if not devices %}
                <li>...no test devices are currently online. Please try again later...</li>
            {% endif %}
        {% endif %}
    </ul>
    <p><input type=submit value="Upload"></p>
</form>
<script src="/static/gunzip.min.js"></script>
<script src="/static/click-package-parser.js"></script>
<script>
function seemsInvalid(input) {
    alert("That does not seem like a correct click package, sorry. If you're sure it is, please contact us.");
    input.value = "";
}
function examine(input, file) {
    var click;
    try {
        click = new ClickFile(file);
    } catch(e) {
        seemsInvalid(input);
        console.error(e); return;
    }
    click.onload = function(err) {
        if (err) {
            seemsInvalid(input);
            console.error(err); return;
        }
        // get the manifest
        click.getFile("control.tar.gz", "./manifest", function(err, data) {
            if (err) {
                seemsInvalid(input);
                console.error(err); return;
            }
            var aa = [], manifest;
            try {
                manifest = JSON.parse(String.fromCharCode.apply(null, data));
            } catch(e) {
                seemsInvalid(input);
                console.error(e); return;
            }
            var arch = manifest.architecture || "unspecified";
            if (!Array.isArray(arch)) arch = [arch];
            var okarches = ["armhf", "all", "multi"];
            var hasAtLeastOneOKArch = false;
            arch.forEach(function(a) {
                if (okarches.indexOf(a) !== -1) hasAtLeastOneOKArch = true;
            });

            if (!hasAtLeastOneOKArch) {
                alert("Sorry, Marvin cannot be used to test packages with architecture: " + manifest.architecture);
                input.value = "";
                return;
            }
            if (manifest.hooks) {
                for (var k in manifest.hooks) {
                    if (manifest.hooks[k].apparmor) {
                        aa.push(manifest.hooks[k].apparmor);
                    }
                }
            }
            if (aa.length > 0) {
                // read the first apparmor file
                click.getFile("data.tar.gz", "./" + aa[0], function(err, data) {
                    if (err) { console.error(err); return; }
                    var apparmor;
                    try {
                        apparmor = JSON.parse(String.fromCharCode.apply(null, data));
                    } catch(e) {
                        seemsInvalid(input);
                        console.error(e); return;
                    }
                    if (apparmor.template && apparmor.template === "ubuntu-webapp") {
                        alert("Sorry, Marvin can't be used to usefully test webapps.");
                        input.value = "";
                        return;
                    }
                });
            }
        });
    };
}

document.getElementsByName("click")[0].onchange = function(e) {
    if (this.files && this.files.length > 0) examine(this, this.files[0]);
};
</script>
{% endblock %}
